# Project Flow

1.Data
2.preprocessing
3.model
4.website
5.deploy

In [1]:
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

In [2]:
movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")

In [3]:
#movies.head(4)

In [4]:
#credits.head(3)

In [5]:
#movies.isnull().sum()

In [6]:
#credits.isnull().sum()

In [7]:
#movies.merge(credits, on ='title').head(2)   #Merge the two dataset (dataset1.merge(dataset2,on=column name))

In [8]:
movies = movies.merge(credits, on ='title')
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [9]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [10]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [11]:
# genres
# id
# keywords
# Title
# overview
# cast 
# crew

#movies.rename(columns={'id_x':'movie_id','original_title_x':'title','genres_x':'geners',},inplace=True)

movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [12]:
# movies.head()

In [13]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [14]:
movies.dropna(inplace=True)

In [15]:
movies.duplicated().sum()    #To see the duplicate data

0

In [16]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [17]:
#'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

#['Action','Adventure','Fantasy','Science Friction']

In [18]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [19]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [20]:
movies['genres'] = movies['genres'].apply(convert)

In [21]:
movies['genres']

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4806, dtype: object

In [22]:
movies['keywords'] = movies['keywords'].apply(convert)

In [23]:
movies['keywords']

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4804    [united statesâ€“mexico barrier, legs, arms, pap...
4805                                                   []
4806    [date, love at first sight, narration, investi...
4807                                                   []
4808            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4806, dtype: object

In [24]:
def convert(obj):   # To see the top three heros 
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter +=1
        else:
            break
    return L

In [25]:
movies['cast'] = movies['cast'].apply(convert)

In [26]:
movies['cast']

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, LÃ©a Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry BishÃ©, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4806, dtype: object

In [27]:
# movies['crew'][0]

In [28]:
def fetch_director(obj):   #To get only the single director name
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [29]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [30]:
movies['crew']

0           [James Cameron]
1          [Gore Verbinski]
2              [Sam Mendes]
3       [Christopher Nolan]
4          [Andrew Stanton]
               ...
4804     [Robert Rodriguez]
4805         [Edward Burns]
4806          [Scott Smith]
4807          [Daniel Hsia]
4808     [Brian Herzlinger]
Name: crew, Length: 4806, dtype: object

In [31]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [32]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())  # To convert the column into the list

In [33]:
movies['overview']

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bondâ€™s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4806, dtype: object

In [34]:
movies.head()  #Final output

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [35]:
#To remove the spaces from the dataset 

#movies['genres'].apply(lambda x: [i.replace(" ","") for i in x])

In [36]:
movies['genres'] = movies['genres'].apply(lambda x: [i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x: [i.replace(" ","") for i in x])  
movies['cast'] = movies['cast'].apply(lambda x: [i.replace(" ","") for i in x])  
movies['crew'] = movies['crew'].apply(lambda x: [i.replace(" ","") for i in x])

In [37]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [38]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast']  + movies['crew']

In [39]:
new_df = movies[['movie_id','title','tags']]

In [40]:
new_df

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [41]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))  #Convert list into the string

In [42]:
new_df['tags']

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bondâ€™s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4804    El Mariachi just wants to play his guitar and ...
4805    A newlywed couple's honeymoon is upended by th...
4806    "Signed, Sealed, Delivered" introduces a dedic...
4807    When ambitious New York attorney Sam is sent t...
4808    Ever since the second grade when he first saw ...
Name: tags, Length: 4806, dtype: object

In [43]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower()) #To convert all into the dataset

In [44]:
new_df['tags']

0       in the 22nd century, a paraplegic marine is di...
1       captain barbossa, long believed to be dead, ha...
2       a cryptic message from bondâ€™s past sends him o...
3       following the death of district attorney harve...
4       john carter is a war-weary, former military ca...
                              ...
4804    el mariachi just wants to play his guitar and ...
4805    a newlywed couple's honeymoon is upended by th...
4806    "signed, sealed, delivered" introduces a dedic...
4807    when ambitious new york attorney sam is sent t...
4808    ever since the second grade when he first saw ...
Name: tags, Length: 4806, dtype: object

In [45]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [46]:
new_df['tags'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

In [47]:
new_df['tags'][1]

"captain barbossa, long believed to be dead, has come back to life and is headed to the edge of the earth with will turner and elizabeth swann. but nothing is quite as it seems. adventure fantasy action ocean drugabuse exoticisland eastindiatradingcompany loveofone'slife traitor shipwreck strongwoman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger johnnydepp orlandobloom keiraknightley goreverbinski"

to convert text --> vectors  
we called if text vectors methods
simple method to convert:- bag of words
if idf
word to vec

In [48]:
from sklearn.feature_extraction.text import CountVectorizer  #use of sklearn libraries

cv = CountVectorizer(max_features = 5000, stop_words ='english')

In [49]:
vectors = cv.fit_transform(new_df['tags']).toarray()  #to convert into array

In [50]:
vectors.shape

(4806, 5000)

In [51]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [52]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [53]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [54]:
import nltk

In [55]:
from nltk.stem.porter import PorterStemmer

ps = PorterStemmer()

In [56]:
def stem(text):
    y = []
    
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [57]:
new_df['tags'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

In [58]:
stem('in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron')

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [59]:
new_df['tag'] = new_df['tags'].apply(stem)

In [60]:
from sklearn.metrics.pairwise import cosine_similarity

In [61]:
similarity = cosine_similarity(vectors)

In [62]:
similarity[1]

array([0.08964215, 1.        , 0.0625    , ..., 0.02635231, 0.        ,
       0.        ])

In [63]:
sorted(list(enumerate(similarity[1])),reverse = True,key=lambda x:x[1])

[(1, 0.9999999999999999),
 (12, 0.4342995181076895),
 (17, 0.26940795304016235),
 (199, 0.2671036121482476),
 (3572, 0.21650635094610968),
 (187, 0.20623947784607635),
 (216, 0.2041241452319315),
 (75, 0.19050019050028574),
 (848, 0.1875),
 (981, 0.18049871809528883),
 (987, 0.17677669529663687),
 (2135, 0.17677669529663687),
 (4010, 0.17677669529663687),
 (1096, 0.1733438113203841),
 (1664, 0.17149858514250882),
 (310, 0.17057205980525322),
 (818, 0.1670382761952652),
 (109, 0.16666666666666666),
 (129, 0.1656472891122698),
 (340, 0.1656472891122698),
 (2596, 0.16366341767699427),
 (349, 0.16137430609197567),
 (1334, 0.16137430609197567),
 (98, 0.15875015875023812),
 (104, 0.15624999999999997),
 (61, 0.1543033499620919),
 (1194, 0.1543033499620919),
 (1727, 0.1543033499620919),
 (3055, 0.1543033499620919),
 (190, 0.15348515337873012),
 (24, 0.14731391274719738),
 (1444, 0.147087101353638),
 (138, 0.1453095484297741),
 (781, 0.14433756729740646),
 (1306, 0.14433756729740646),
 (2661, 0.14433756729740646),
 (1297, 0.14153462926807447),
 (3704, 0.14153462926807447),
 (1077, 0.1414213562373095),
 (2658, 0.1414213562373095),
 (403, 0.13927150363278887),
 (94, 0.1386750490563073),
 (276, 0.1386750490563073),
 (389, 0.1386750490563073),
 (1715, 0.1369306393762915),
 (583, 0.13638618139749523),
 (778, 0.13638618139749523),
 (122, 0.13608276348795434),
 (412, 0.134790966504298),
 (784, 0.134790966504298),
 (2302, 0.134790966504298),
 (3862, 0.13470397652008118),
 (208, 0.13258252147247765),
 (7, 0.13176156917368248),
 (1004, 0.13130643285972254),
 (66, 0.13032150878567172),
 (1700, 0.12909944487358055),
 (62, 0.12862393885688161),
 (3155, 0.12862393885688161),
 (3288, 0.12862393885688161),
 (30, 0.1275775907699572),
 (3407, 0.1275775907699572),
 (942, 0.1270001270001905),
 (2169, 0.1270001270001905),
 (2906, 0.1270001270001905),
 (3636, 0.125),
 (3721, 0.125),
 (3730, 0.125),
 (232, 0.12499999999999999),
 (171, 0.12499999999999997),
 (5, 0.12376844287208427),
 (46, 0.12309149097933274),
 (543, 0.12309149097933274),
 (3008, 0.12309149097933274),
 (1848, 0.12257258446136501),
 (627, 0.12166606584807188),
 (1769, 0.12166606584807188),
 (3219, 0.12166606584807188),
 (143, 0.12141073279465803),
 (126, 0.12126781251816647),
 (508, 0.12126781251816647),
 (2686, 0.12126781251816647),
 (2005, 0.12028130608117202),
 (2133, 0.12028130608117202),
 (14, 0.11952286093343935),
 (26, 0.11952286093343935),
 (1195, 0.11952286093343935),
 (3498, 0.11952286093343935),
 (325, 0.11858541225631421),
 (1262, 0.11858541225631421),
 (3971, 0.11858541225631421),
 (4203, 0.11858541225631421),
 (4443, 0.11858541225631421),
 (2106, 0.11811389781538352),
 (330, 0.1178511301977579),
 (472, 0.1178511301977579),
 (649, 0.1178511301977579),
 (2841, 0.1178511301977579),
 (106, 0.11707322644771173),
 (1878, 0.11707322644771173),
 (115, 0.11624763874381927),
 (329, 0.11624763874381927),
 (471, 0.11624763874381927),
 (1653, 0.11624763874381927),
 (3355, 0.11624763874381927),
 (773, 0.11572751247156893),
 (3781, 0.11572751247156893),
 (3826, 0.11572751247156893),
 (193, 0.11507182723729042),
 (4048, 0.11507182723729042),
 (1020, 0.11470786693528089),
 (2820, 0.11470786693528089),
 (25, 0.11437392774945349),
 (19, 0.11410886614690958),
 (3377, 0.1137147065368355),
 (71, 0.11322770341445958),
 (1367, 0.11322770341445958),
 (2029, 0.11322770341445956),
 (3701, 0.11322770341445956),
 (105, 0.11306675421666133),
 (267, 0.11306675421666133),
 (461, 0.11306675421666133),
 (2521, 0.11306675421666133),
 (3999, 0.11306675421666133),
 (168, 0.11180339887498948),
 (334, 0.11180339887498948),
 (85, 0.11118739749916517),
 (263, 0.11058146711617285),
 (715, 0.11058146711617285),
 (1884, 0.11058146711617285),
 (4216, 0.11058146711617285),
 (4623, 0.11058146711617285),
 (79, 0.11043152607484653),
 (271, 0.11043152607484653),
 (38, 0.10963225241337865),
 (587, 0.10910894511799618),
 (788, 0.10910894511799618),
 (1037, 0.10910894511799618),
 (84, 0.10879853497231112),
 (33, 0.10825317547305484),
 (35, 0.10825317547305484),
 (359, 0.10825317547305484),
 (2496, 0.10825317547305484),
 (420, 0.10783277320343841),
 (1623, 0.10783277320343841),
 (3788, 0.10783277320343841),
 (191, 0.10660035817780521),
 (813, 0.10660035817780521),
 (962, 0.10660035817780521),
 (1276, 0.10660035817780521),
 (1786, 0.10660035817780521),
 (2035, 0.10660035817780521),
 (68, 0.10606601717798213),
 (167, 0.10606601717798213),
 (292, 0.10606601717798213),
 (691, 0.10606601717798213),
 (2651, 0.10606601717798213),
 (827, 0.10540925533894598),
 (59, 0.10489766978708612),
 (1831, 0.10425720702853737),
 (1938, 0.10425720702853737),
 (142, 0.10400628679223047),
 (581, 0.10400628679223047),
 (711, 0.10400628679223047),
 (1047, 0.10400628679223047),
 (1474, 0.10400628679223047),
 (1686, 0.10400628679223047),
 (2396, 0.10400628679223047),
 (3834, 0.10400628679223047),
 (3968, 0.10400628679223047),
 (618, 0.10314212462587934),
 (3371, 0.10314212462587934),
 (215, 0.10206207261596577),
 (262, 0.10206207261596577),
 (569, 0.10206207261596577),
 (2488, 0.10206207261596577),
 (31, 0.10206207261596575),
 (90, 0.10206207261596575),
 (483, 0.10206207261596575),
 (664, 0.10206207261596575),
 (1027, 0.10206207261596575),
 (1272, 0.10206207261596575),
 (1658, 0.10206207261596575),
 (2999, 0.10206207261596575),
 (4405, 0.10206207261596575),
 (4560, 0.10206207261596575),
 (127, 0.10206207261596573),
 (342, 0.10206207261596573),
 (486, 0.10206207261596573),
 (596, 0.10101525445522107),
 (1218, 0.10101525445522107),
 (3333, 0.10101525445522107),
 (23, 0.10022296571715912),
 (91, 0.10022296571715912),
 (511, 0.10022296571715912),
 (1147, 0.10022296571715912),
 (1440, 0.10022296571715912),
 (1976, 0.10022296571715912),
 (3428, 0.10022296571715912),
 (3601, 0.10022296571715912),
 (4781, 0.10022296571715912),
 (169, 0.09999999999999999),
 (645, 0.09999999999999999),
 (3630, 0.09999999999999999),
 (13, 0.09901475429766741),
 (206, 0.09901475429766741),
 (220, 0.09847982464479191),
 (242, 0.09847982464479191),
 (260, 0.09847982464479191),
 (392, 0.09847982464479191),
 (745, 0.09847982464479191),
 (931, 0.09847982464479191),
 (960, 0.09847982464479191),
 (1649, 0.09847982464479191),
 (2075, 0.09847982464479191),
 (1396, 0.09805806756909201),
 (1673, 0.09805806756909201),
 (3158, 0.09805806756909201),
 (4348, 0.09805806756909201),
 (4502, 0.09805806756909201),
 (1452, 0.09712858623572641),
 (2404, 0.09712858623572641),
 (72, 0.09682458365518541),
 (164, 0.09682458365518541),
 (369, 0.09682458365518541),
 (972, 0.09682458365518541),
 (1261, 0.09682458365518541),
 (1537, 0.09682458365518541),
 (1796, 0.09682458365518541),
 (3947, 0.09622504486493762),
 (1675, 0.09587062360592129),
 (32, 0.09534625892455922),
 (50, 0.09525009525014287),
 (88, 0.09525009525014287),
 (117, 0.09525009525014287),
 (121, 0.09525009525014287),
 (315, 0.09525009525014287),
 (544, 0.09525009525014287),
 (786, 0.09525009525014287),
 (1269, 0.09525009525014287),
 (1746, 0.09525009525014287),
 (2108, 0.09525009525014287),
 (3034, 0.09525009525014287),
 (4693, 0.09525009525014287),
 (48, 0.09449111825230681),
 (222, 0.09449111825230681),
 (234, 0.09449111825230681),
 (1979, 0.09449111825230681),
 (381, 0.0944911182523068),
 (1862, 0.0944911182523068),
 (2274, 0.0944911182523068),
 (2480, 0.0944911182523068),
 (2880, 0.0944911182523068),
 (4564, 0.0944911182523068),
 (96, 0.09374999999999999),
 (241, 0.09374999999999999),
 (294, 0.09374999999999999),
 (514, 0.09374999999999999),
 (859, 0.09374999999999999),
 (1196, 0.09374999999999999),
 (2251, 0.09374999999999999),
 (2904, 0.09284766908852592),
 (10, 0.09231861823449955),
 (457, 0.09231861823449955),
 (547, 0.09231861823449955),
 (792, 0.09231861823449955),
 (1142, 0.09231861823449955),
 (2211, 0.09231861823449955),
 (3091, 0.09231861823449955),
 (3235, 0.09231861823449955),
 (4316, 0.09231861823449955),
 (103, 0.09205746178983233),
 (139, 0.09128709291752767),
 (1139, 0.09128709291752767),
 (1621, 0.09128709291752767),
 (2674, 0.09128709291752767),
 (57, 0.09095085938862485),
 (332, 0.09095085938862485),
 (411, 0.09095085938862485),
 (746, 0.09095085938862485),
 (973, 0.09095085938862485),
 (1749, 0.09095085938862485),
 (1983, 0.09095085938862485),
 (2149, 0.09095085938862485),
 (2583, 0.09095085938862485),
 (3910, 0.09095085938862485),
 (47, 0.09053574604251853),
 (572, 0.09053574604251853),
 (607, 0.09053574604251853),
 (3228, 0.09053574604251853),
 (0, 0.08964214570007951),
 (1719, 0.08964214570007951),
 (1792, 0.08964214570007951),
 (2013, 0.08964214570007951),
 (2028, 0.08964214570007951),
 (2128, 0.08964214570007951),
 (2450, 0.08964214570007951),
 (3320, 0.08964214570007951),
 (755, 0.08908708063747478),
 (939, 0.08908708063747478),
 (3431, 0.08908708063747478),
 (131, 0.08838834764831843),
 (150, 0.08838834764831843),
 (503, 0.08838834764831843),
 (697, 0.08838834764831843),
 (858, 0.08838834764831843),
 (866, 0.08838834764831843),
 (913, 0.08838834764831843),
 (1609, 0.08838834764831843),
 (1945, 0.08838834764831843),
 (1970, 0.08838834764831843),
 (3340, 0.08838834764831843),
 (3347, 0.08838834764831843),
 (3378, 0.08838834764831843),
 (3389, 0.08838834764831843),
 (3470, 0.08838834764831843),
 (3527, 0.08838834764831843),
 (3851, 0.08838834764831843),
 (4056, 0.08838834764831843),
 (4061, 0.08838834764831843),
 (4641, 0.08838834764831843),
 (52, 0.08718572905786445),
 (312, 0.08718572905786445),
 (322, 0.08718572905786445),
 (1592, 0.08718572905786445),
 (2072, 0.08718572905786445),
 (2181, 0.08718572905786445),
 (2683, 0.08718572905786445),
 (16, 0.08603090020146066),
 (731, 0.08603090020146066),
 (1061, 0.08603090020146066),
 (1204, 0.08603090020146066),
 (1535, 0.08603090020146066),
 (1916, 0.08603090020146066),
 (2973, 0.08603090020146066),
 (3152, 0.08603090020146066),
 (3380, 0.08603090020146066),
 (3622, 0.08603090020146066),
 (4055, 0.08603090020146066),
 (624, 0.08574929257125441),
 (850, 0.08574929257125441),
 (892, 0.08574929257125441),
 (1010, 0.08574929257125441),
 (1323, 0.08574929257125441),
 (1421, 0.08574929257125441),
 (1426, 0.08574929257125441),
 (1575, 0.08574929257125441),
 (2297, 0.08574929257125441),
 (2548, 0.08574929257125441),
 (2558, 0.08574929257125441),
 (3842, 0.08574929257125441),
 (4131, 0.08574929257125441),
 (4390, 0.08574929257125441),
 (4568, 0.08574929257125441),
 (182, 0.08492077756084468),
 (1009, 0.08492077756084468),
 (1299, 0.08492077756084468),
 (1479, 0.08492077756084468),
 (2436, 0.08492077756084467),
 (2668, 0.08389450690175304),
 (643, 0.08385254915624211),
 (959, 0.08385254915624211),
 (1109, 0.08385254915624211),
 (1451, 0.08385254915624211),
 (2352, 0.08385254915624211),
 (2828, 0.08385254915624211),
 (3475, 0.08385254915624211),
 (4087, 0.08385254915624211),
 (4337, 0.08385254915624211),
 (151, 0.08333333333333333),
 (205, 0.08333333333333333),
 (435, 0.08333333333333333),
 (800, 0.08333333333333333),
 (808, 0.08333333333333333),
 (1477, 0.08333333333333333),
 (3832, 0.08333333333333333),
 (4314, 0.08333333333333333),
 (36, 0.0828236445561349),
 (665, 0.0828236445561349),
 (1369, 0.0828236445561349),
 (2916, 0.0828236445561349),
 (3255, 0.0828236445561349),
 (3666, 0.0828236445561349),
 (3698, 0.0828236445561349),
 (55, 0.08219949365267865),
 (4, 0.08183170883849714),
 (1233, 0.08183170883849714),
 (1325, 0.08183170883849714),
 (1565, 0.08183170883849714),
 (1617, 0.08183170883849714),
 (2345, 0.08183170883849714),
 (2354, 0.08183170883849714),
 (2363, 0.08183170883849714),
 (2701, 0.08183170883849714),
 (3907, 0.08183170883849714),
 (4382, 0.08183170883849714),
 (81, 0.08164965809277258),
 (20, 0.08111071056538126),
 (796, 0.08111071056538126),
 (995, 0.08111071056538126),
 (1174, 0.08111071056538126),
 (1373, 0.08111071056538126),
 (2323, 0.08111071056538126),
 (2369, 0.08111071056538126),
 (2950, 0.08111071056538126),
 (3072, 0.08111071056538126),
 (3972, 0.08111071056538126),
 (3994, 0.08111071056538126),
 (178, 0.0808745799025788),
 (270, 0.0808745799025788),
 (509, 0.0808745799025788),
 (870, 0.0808745799025788),
 (1202, 0.0808745799025788),
 (730, 0.08006407690254355),
 (9, 0.0799502686333539),
 (15, 0.0799502686333539),
 (136, 0.0799502686333539),
 (158, 0.0799502686333539),
 (228, 0.0799502686333539),
 (240, 0.0799502686333539),
 (419, 0.0799502686333539),
 (933, 0.0799502686333539),
 (1281, 0.0799502686333539),
 (1632, 0.0799502686333539),
 (1883, 0.0799502686333539),
 (2713, 0.0799502686333539),
 (734, 0.07905694150420949),
 (1038, 0.07905694150420949),
 (1871, 0.07905694150420949),
 (1966, 0.07905694150420949),
 (172, 0.07905694150420947),
 (209, 0.07905694150420947),
 (490, 0.07905694150420947),
 (1292, 0.07905694150420947),
 (1524, 0.07905694150420947),
 (1634, 0.07905694150420947),
 (1721, 0.07905694150420947),
 (1770, 0.07905694150420947),
 (2531, 0.07905694150420947),
 (4099, 0.07905694150420947),
 (4135, 0.07905694150420947),
 (4403, 0.07905694150420947),
 (4416, 0.07905694150420947),
 (97, 0.07819290527140303),
 (243, 0.07819290527140303),
 (549, 0.07819290527140303),
 (1146, 0.07819290527140303),
 (1340, 0.07819290527140303),
 (1701, 0.07819290527140303),
 (2056, 0.07819290527140303),
 (2752, 0.07819290527140303),
 (4180, 0.07819290527140303),
 (2448, 0.07761505257063328),
 (83, 0.0773565934694095),
 (566, 0.0773565934694095),
 (1512, 0.0773565934694095),
 (162, 0.07715167498104596),
 (336, 0.07715167498104596),
 (505, 0.07715167498104596),
 (738, 0.07715167498104596),
 (1488, 0.07715167498104596),
 (1558, 0.07715167498104596),
 (1707, 0.07715167498104596),
 (2114, 0.07715167498104596),
 (2126, 0.07715167498104596),
 (3412, 0.07715167498104596),
 (4025, 0.07715167498104596),
 (4290, 0.07715167498104596),
 (4611, 0.07715167498104596),
 (4703, 0.07715167498104596),
 (41, 0.07654655446197432),
 (1117, 0.07654655446197432),
 (2888, 0.07654655446197432),
 (4343, 0.07654655446197432),
 (3099, 0.07654655446197431),
 (2049, 0.07580980435789034),
 (273, 0.0757614408414158),
 (1191, 0.0757614408414158),
 (1445, 0.0757614408414158),
 (56, 0.0753778361444409),
 (249, 0.0753778361444409),
 (304, 0.0753778361444409),
 (495, 0.0753778361444409),
 (498, 0.0753778361444409),
 (1327, 0.0753778361444409),
 (1400, 0.0753778361444409),
 (1410, 0.0753778361444409),
 (1605, 0.0753778361444409),
 (2562, 0.0753778361444409),
 (2584, 0.0753778361444409),
 (2761, 0.0753778361444409),
 (2762, 0.0753778361444409),
 (2773, 0.0753778361444409),
 (3133, 0.0753778361444409),
 (4192, 0.0753778361444409),
 (4220, 0.0753778361444409),
 (197, 0.075),
 (1093, 0.075),
 (1148, 0.075),
 (1924, 0.075),
 (1977, 0.075),
 (2520, 0.075),
 (1216, 0.07453559924999298),
 (27, 0.07426106572325056),
 (132, 0.07426106572325056),
 (612, 0.07426106572325056),
 (2792, 0.07426106572325056),
 (22, 0.07372097807744857),
 (148, 0.07372097807744857),
 (157, 0.07372097807744857),
 (233, 0.07372097807744857),
 (466, 0.07372097807744857),
 (487, 0.07372097807744857),
 (537, 0.07372097807744857),
 (604, 0.07372097807744857),
 (668, 0.07372097807744857),
 (716, 0.07372097807744857),
 (783, 0.07372097807744857),
 (935, 0.07372097807744857),
 (1085, 0.07372097807744857),
 (1092, 0.07372097807744857),
 (1242, 0.07372097807744857),
 (1280, 0.07372097807744857),
 (2932, 0.07372097807744857),
 (3374, 0.07372097807744857),
 (3621, 0.07372097807744857),
 (4094, 0.07372097807744857),
 (4320, 0.07372097807744857),
 (4357, 0.07372097807744857),
 (58, 0.073543550676819),
 (92, 0.073543550676819),
 (2213, 0.073543550676819),
 (2971, 0.073543550676819),
 (386, 0.07284643967679481),
 (1030, 0.07284643967679481),
 (2256, 0.07284643967679481),
 (2598, 0.07284643967679481),
 (3000, 0.07284643967679481),
 (3258, 0.07284643967679481),
 (237, 0.07216878364870323),
 (400, 0.07216878364870323),
 (660, 0.07216878364870323),
 (695, 0.07216878364870323),
 (903, 0.07216878364870323),
 (920, 0.07216878364870323),
 (951, 0.07216878364870323),
 (1513, 0.07216878364870323),
 (1805, 0.07216878364870323),
 (1833, 0.07216878364870323),
 (1860, 0.07216878364870323),
 (1942, 0.07216878364870323),
 (2309, 0.07216878364870323),
 (2532, 0.07216878364870323),
 (2579, 0.07216878364870323),
 (2620, 0.07216878364870323),
 (3421, 0.07216878364870323),
 (3674, 0.07216878364870323),
 (3787, 0.07216878364870323),
 (3841, 0.07216878364870323),
 (4090, 0.07216878364870323),
 (4485, 0.07216878364870323),
 (107, 0.07216878364870322),
 (467, 0.07216878364870322),
 (507, 0.07216878364870322),
 (777, 0.07216878364870322),
 (1283, 0.07216878364870322),
 (1692, 0.07216878364870322),
 (2505, 0.07216878364870322),
 (45, 0.07150969419341942),
 (217, 0.07150969419341942),
 (475, 0.07150969419341942),
 (694, 0.07150969419341942),
 (812, 0.07150969419341942),
 (1813, 0.07150969419341942),
 (2804, 0.07150969419341942),
 (1429, 0.07142857142857141),
 (124, 0.0708683386892301),
 (286, 0.0708683386892301),
 (836, 0.0708683386892301),
 (1019, 0.0708683386892301),
 (1857, 0.0708683386892301),
 (2439, 0.0708683386892301),
 (3635, 0.0708683386892301),
 (133, 0.07071067811865475),
 (134, 0.07071067811865475),
 (159, 0.07071067811865475),
 (348, 0.07071067811865475),
 (368, 0.07071067811865475),
 (530, 0.07071067811865475),
 (744, 0.07071067811865475),
 (791, 0.07071067811865475),
 (971, 0.07071067811865475),
 (1158, 0.07071067811865475),
 (1301, 0.07071067811865475),
 (1843, 0.07071067811865475),
 (2057, 0.07071067811865475),
 (2316, 0.07071067811865475),
 (2741, 0.07071067811865475),
 (2948, 0.07071067811865475),
 (2957, 0.07071067811865475),
 (3086, 0.07071067811865475),
 (3093, 0.07071067811865475),
 (3356, 0.07071067811865475),
 (4355, 0.07071067811865475),
 (4578, 0.07071067811865475),
 (654, 0.07024393586862704),
 (2960, 0.07024393586862704),
 (1571, 0.06963575181639443),
 (2023, 0.06963575181639443),
 (2729, 0.06963575181639443),
 (4077, 0.06963575181639443),
 (219, 0.06933752452815364),
 (290, 0.06933752452815364),
 (309, 0.06933752452815364),
 (546, 0.06933752452815364),
 (676, 0.06933752452815364),
 (769, 0.06933752452815364),
 (1076, 0.06933752452815364),
 (1137, 0.06933752452815364),
 (1259, 0.06933752452815364),
 (1275, 0.06933752452815364),
 (1363, 0.06933752452815364),
 (1408, 0.06933752452815364),
 (1586, 0.06933752452815364),
 (1589, 0.06933752452815364),
 (1738, 0.06933752452815364),
 (1756, 0.06933752452815364),
 (2120, 0.06933752452815364),
 (2378, 0.06933752452815364),
 (3286, 0.06933752452815364),
 (3362, 0.06933752452815364),
 (3611, 0.06933752452815364),
 (4196, 0.06933752452815364),
 (246, 0.06904309634237425),
 (374, 0.06904309634237425),
 (501, 0.06904309634237425),
 (969, 0.06904309634237425),
 (1103, 0.06904309634237425),
 (3441, 0.06904309634237425),
 (195, 0.06804138174397717),
 (384, 0.06804138174397717),
 (1313, 0.06804138174397717),
 (1480, 0.06804138174397717),
 (3761, 0.06804138174397717),
 (3765, 0.06804138174397717),
 (1898, 0.0679018095318889),
 (4719, 0.0679018095318889),
 (149, 0.06735198826004059),
 (305, 0.06735198826004059),
 (1111, 0.06735198826004059),
 (3724, 0.06735198826004057),
 (21, 0.06681531047810609),
 (152, 0.06681531047810609),
 (238, 0.06681531047810609),
 (259, 0.06681531047810609),
 (661, 0.06681531047810609),
 (794, 0.06681531047810609),
 (922, 0.06681531047810609),
 (1079, 0.06681531047810609),
 (1361, 0.06681531047810609),
 (1529, 0.06681531047810609),
 (1941, 0.06681531047810609),
 (2252, 0.06681531047810609),
 (2814, 0.06681531047810609),
 (2817, 0.06681531047810609),
 (3549, 0.06681531047810609),
 (3723, 0.06681531047810609),
 (3780, 0.06681531047810609),
 (4148, 0.06681531047810609),
 (4673, 0.06681531047810609),
 (28, 0.06565321642986127),
 (147, 0.06565321642986127),
 (402, 0.06565321642986127),
 (492, 0.06565321642986127),
 (678, 0.06565321642986127),
 (764, 0.06565321642986127),
 (823, 0.06565321642986127),
 (840, 0.06565321642986127),
 (869, 0.06565321642986127),
 (980, 0.06565321642986127),
 (1274, 0.06565321642986127),
 (1404, 0.06565321642986127),
 (1431, 0.06565321642986127),
 (1453, 0.06565321642986127),
 (1523, 0.06565321642986127),
 (1850, 0.06565321642986127),
 (1993, 0.06565321642986127),

In [64]:
sorted(list(enumerate(similarity[1])),reverse = True,key=lambda x:x[1])[1:6]

[(12, 0.4342995181076895),
 (17, 0.26940795304016235),
 (199, 0.2671036121482476),
 (3572, 0.21650635094610968),
 (187, 0.20623947784607635)]

In [65]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse = True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [66]:
# new_df[new_df['title'] == 'Batman Begins'].index[0]

In [67]:
recommend('Avatar')

Titan A.E.
Small Soldiers
Independence Day
Ender's Game
Aliens vs Predator: Requiem

In [68]:
new_df.iloc[1216].title #to see the title for the index

'Aliens vs Predator: Requiem'

In [69]:
recommend('Batman Begins')

The Dark Knight
The Dark Knight Rises
Batman
Batman & Robin
Batman

In [70]:
import pickle

In [71]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [72]:
new_df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [73]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [74]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [75]:
new_df.columns

Index(['movie_id', 'title', 'tags', 'tag'], dtype='object')